/* 
    Created on : 6 mai 2021, 17:22:09
    Author     : ines.feugier
*/
h2, h3 {
    padding: 15px 0 10px 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
        border: 1px solid black;
        text-align:center;
}

th, td {
    padding: 5px;
}